<div>
  <form [formGroup]="myForm">
      <fieldset>
        <legend>基本條件</legend>
          <select name="Hospitals" id="Hospitals" multiple size="8">
            <option value="801">801 三總</option>
            <option value="802">802 高雄</option>
            <option value="803">803 台中</option>
            <option value="804">804 桃園</option>
            <option value="805">805 花蓮</option>
            <option value="806">806 左營</option>
            <option value="807">807 松山</option>
            <option value="811">811 澎湖</option>
            <option value="812">812 基隆</option>
            <option value="813">813 新竹</option>
            <option value="814">814 岡山</option>
            <option value="815">815 屏東</option>
            <option value="816">816 中清</option>
            <option value="818">818 北投</option>
          </select>
          開始日期：<input type="date" name="dateStart" id="dateStart">
          結束日期：<input type="date" name="dateEnd" id="dateEnd">
      </fieldset>
      <fieldset>
          <legend>診斷條件設定</legend>
          <div>
            ICD9CM列表： <input type="text" name="sListIcd9cm" [formControl]="NewIcd9cmCodes" #newICD9CMCodes>
            ICD10CM列表：<input type="text" name="sListIcd10cm" [formControl]="NewIcd10cmCodes"  #newICD10CMCodes>
            <select name="sOperand" [formControl]="NewOperand" #newOperand>
              <option value="+">or</option>
              <option value="&">and</option>
              <option value="-">not</option>
              <option value="">結束</option>
            </select>
            <button type="button" (click)='AddCriteria()'>新增</button>
            <button type="button" (click)='ResetForm(newICD9CMCodes, newICD10CMCodes, newOperand)'>清空</button>
          </div>
      </fieldset>
      <fieldset>
        <legend>診斷條件</legend>
        <div>
          <app-criteria-list [Criterias]="CriteriaBoxList">

          </app-criteria-list>
        </div>
      </fieldset>
  </form>
</div>
